@media(max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 370px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar li a{
        font-size: 20px;

    }
    #mobile{
        display:flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #navbar.active{
        right: 0px;
    
    }
    #close{
        display: flex;
        top: 30px;
        left: 30px;
        color: #222;
        position: absolute;
        font-size: 30px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
  
        }
        #feature{
            justify-content: center;

        }
        #feature .fe-box{
            margin-right: 15px 15px;

        }
        .products .pro-container{
            justify-content: center;
         }
         .products .pro{
            margin: 15px;
         }

         #banner{
            height: 20vh;

         }
         #sm-banner .banner-box{
            height: 30vh;
            min-width: 100%;
            
         }
         #banner3{
            padding: 0 40px;
         }

         #banner3 .banner-box{
            width: 28%;
         }
         #newsletter .form{
            width: 70%;
         }



         @media(max-width:477px){
            #header{
                padding: 10px 30px;
            }
            h1{
                font-size: 38px;
            }
            h2{
                font-size: 32px;
            }
            #hero{
                padding: 0 20px;
                background-position: 55%;
            }
            #feature {
                justify-content: space-between;
            }
            #feature .fe-box{
                width: 155px;
                margin: 0 0 15px 0;
            }
            #products .pro{
                width: 100%;

            }
            #banner{
                height: 40vh;
            }
            #sm-banner .banner-box{
                height: 40vh;
            }
            #sm-banner .banner-box2{
                margin-top: 20px;
            }
            #banner3{
                padding: 0 20px;
            }
            #banner3 .banner-box{
                width: 100%;
            } 
            #newsletter{
                padding: 40px 20px;
            }
            #newsletter .form{
                width: 100%;
            }
            footer .copyright{
                text-align: start;
            }
            #prodetails{
                display: flex;
                flex-direction: column;
            }
            #prodetails .single-pro-image{
                width: 100%;
                margin-right: 0px;
            }
            #prodetails .single-pro-details {
                width: 100%;
               
            }
        }

}